.container {
    background: #1c4250;
    border-radius: 9px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 300px;
}


.container:hover {
   background-color: #34e89e2b
}

.container > header {
    text-align: center;
    color: white;
    padding: 14px;
}

.container > div {
    color: #b7b6c2;
    font-weight: bold;
    font-size: 12px;
     margin-top: auto;
}

.container > div > p {
    color: #34E89E;
}

.container > div > p > span {
    color: #b7b6c2;
}

.container > span {
    width: 100% !important;
}

.footer {
    padding: 14px 24px;
    width: 100%;
}

.image {
    margin: 0 auto;
}

.content {
    padding: 24px;
}

.contentExperience {
    padding: 0px 24px 24px;
}

.cardFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 14px;
}