.wrapper {
padding: 130px;
}

.wrapper > a {
cursor: pointer;
}

.mobileContainer > h1 {
color: white;
text-align: center;
}

.content > span {
padding: 8px 0px;
}

.link {
color: #34E89E;
}

.link > span {
text-decoration: none;
color: #b7b6c2;
}

.inactive {
color: #b7b6c2;
}

@media screen and (min-width: 1441px) {
    .wrapper {
        padding: 160px;
    }
   }

@media screen and (max-width: 1024px) {
    .wrapper{
     padding: 60px;
    }
   }

@media screen and (max-width: 820px) {
    .wrapper{
     padding: 40px;
    }
   }