.container {
display: flex;
flex-direction: row;
width: 70%;
margin: 0 auto;
background: #1c4250;
border-radius: 12px;
margin-top: 50px;
}

.wrapper {
display: flex;
flex-direction: row;
}

.innerWrapper {
display: flex;
flex-direction: column;
width: 100%;
}

.innerWrapper > h1 {
    color: white;
}

.header {
    padding: 14px;
    color: white;
    margin-left: 80px;
    text-align: left;
}

.firstItem {
display: flex;
flex-direction: column;
width: 300px;
height: 100%;
}

.secondItem {
height: 100%;
width: 100%;
color: #b7b6c2;
padding: 24px;
border-radius: 9px;
}

.secondItem:hover {
    background-color: #34e89e2b;
    color: white;
}

.tab {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #b7b6c2;
    border-radius: 9px;
}

.currentTab {
    background-color: #34e89e2b;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #34E89E;
    border-radius: 9px;
    border: 1px solid #34E89E;
}

.tab:hover {
    background-color: #34e89e2b;
}

@media screen and (max-width: 765px) {
    .header {
        margin: 0 auto;
    }
    .container {
        width: 100%;
    }
    .currentTab, .tab {
        width: 60%;
    }    
   }