.wrapper {
height: 80px;
/* border: 1px solid black; */
padding: 14px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.link {
color: #F8F8F7;
margin: 14px;
}

.link:hover {
color: #34E89E;
border-bottom: 1px solid #34E89E;
margin: 14px 14px 0px;
}

.linkActive {
color: #34E89E;
border-bottom: 1px solid #34E89E;
margin: 14px 14px 0px;
}

.linkWrapper {
display: flex;
flex-direction: row;
margin-right: 60px;
}

.imageWrapper {
cursor: pointer;
margin-left: 30px;
margin-top: 3px;
transform: scale(1.5);
}