.wrapper {
    width: 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 135px;
    position: relative;
    overflow: hidden;
}

.sidebarItem {
    margin: 14px 0px;
} 

.mobileWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mobileWrapper > a {
    padding: 0px 14px;
}

.sidebarHidden {
    position: absolute;
    right: -10000px;
    visibility: hidden;
}